<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200&display=swap" rel="stylesheet">

</head>
<body>
<header>
    <h1 class="header"><%= title %></h1>
</header>