
<div class="listItems-detail">
    <div class="song-title-detail"><%= item.title %></div>
    <div class="artist-detail"><%= item.artist %></div>
    <div class="stream-count-detail"><%= item.streams %></div>
    <div class="count-detail">Streams</div>
</div>
